div.news-list
{
	word-wrap: break-word;
	text-align: center;
}
div.news-list p
{
	text-align: left;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}

div.news-list .news-item{
	padding-left:10px;
	padding-bottom:1px;
	font-weight:400;
}
.news-date-time {
	color:#486DAA;
}